<template>
	<header>
		<v-toolbar
			dense
			color="green darken-3"
      dark
		>
			<router-link
				:to="{ name: (logedIn ? 'tasklist' : 'login') }"
			>
				TODO
			</router-link>
			<v-spacer></v-spacer>
			<v-avatar
				v-if="logedIn"
				size="36px"
			>
				<img
					v-if="user.photoURL"
					:src="user.photoURL"
				>
				<v-icon
					v-else
				>
					person
				</v-icon>
			</v-avatar>
			{{ user.displayName || user.email }}
			<v-btn
				v-if="logedIn"
				text
				dark
				color="amber darken-3"
				@click="logout"
			>
				LOGOUT
			</v-btn>
		</v-toolbar>
	</header>
</template>

<script>
import firebase from 'firebase'

export default {
	data: function() {
		return {
			user: {},
			logedIn: false,
		}
	},
  created() {
    firebase.auth().onAuthStateChanged(user => {
      this.user = user ? user : {}
      if (user) {
        this.logedIn = true;
      } else {
        this.logedIn = false;
      }
    })
  },
	methods: {
		logout: function() {
			firebase.auth().signOut().then(() => {
        this.$router.push('/Login')
      })
		}
	}
}

</script>

<style scoped>
header {
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}
</style>