<template>
  <div class="main">
    <v-tabs
      centered
      color="green darken-3"
      dark
      icons-and-text
      height="50"
    >
      <v-tabs-slider color="amber"></v-tabs-slider>
      <v-tab>
        SIGN IN
        <v-icon>golf_course</v-icon>
      </v-tab>
      <v-tab>
        SIGN UP
        <v-icon>free_breakfast</v-icon>
      </v-tab>
      <v-tab-item
        class="tab-item"
      >
        <v-btn
          color="amber darken-3"
          class="white--text"
          block
          @click="signInWithGoogle"
        >
          Sign in with Google
        </v-btn>
        <hr data-content="OR">
        <v-form>
          <v-text-field
            :type="'text'"
            :rules="[rules.required]"
            v-model="signin_username"
            label="User Name"
            prepend-icon="person"
            color="green darken3"
          >
          </v-text-field>
          <v-text-field
            :type="'password'"
            :rules="[rules.required, rules.min]"
            v-model="signin_password"
            label="Password"
            prepend-icon="vpn_key"
            color="green darken3"
          >
          </v-text-field>
          <v-btn
            color="amber darken-3"
            class="white--text"
            block
            @click="signIn"
          >
            Sign in
          </v-btn>
        </v-form>
      </v-tab-item>
      <v-tab-item
        class="tab-item"
      >
        <v-form>
          <v-text-field
            :type="'text'"
            :rules="[rules.required]"
            v-model="signup_username"
            label="User Name"
            prepend-icon="person"
            color="green darken3"
          >
          </v-text-field>
          <v-text-field
            :type="'password'"
            :rules="[rules.required, rules.min]"
            v-model="signup_password"
            label="Password"
            prepend-icon="vpn_key"
            color="green darken3"
          >
          </v-text-field>
          <v-btn
            color="amber darken-3"
            class="white--text"
            block
            @click="signUp"
          >
            Sign up
          </v-btn>
        </v-form>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Login',
  data () {
    return {
      signin_username: '',
      signin_password: '',
      signup_username: '',
      signup_password: '',
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
      }
    }
  },
  methods: {
    signInWithGoogle: function() {
      var provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then(result => {
          this.createUserIfNotExists(result.user)
            .then(() => this.$router.push('/Tasks'))
            .catch(error => {
              firebase.auth().signOut();
              alert(error.message);
            });
        })
        .catch(error => {
          alert(error.message);
        });
    },
    signIn: function() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.signin_username, this.signin_password)
        .then(result => {
          this.createUserIfNotExists(result.user)
            .then(() => this.$router.push('/Tasks'))
            .catch(error => {
              firebase.auth().signOut();
              alert(error.message);
            });
        })
        .catch(error => {
          alert(error.message);
        });
    },
    signUp: function() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.signup_username, this.signup_password)
        .then(result => {
          this.createUserIfNotExists(result.user)
            .then(() => this.$router.push('/Tasks'))
            .catch(error => {
              firebase.auth().signOut();
              alert(error.message);
            });
        })
        .catch(error => {
          alert(error.message)
        });
    },
    createUserIfNotExists: function(user) {
      console.log(user);
      return firebase
              .firestore()
              .collection('users')
              .doc(user.uid)
              .set({ name: user.displayName || user.email });
    }
  }
}
</script>

<style scoped>

.tab-item {
  padding: 5rem;
}

hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: rgba(0,0,0,0.42);
  text-align: center;
  height: 1.5em;
  margin: 3rem 0 3rem 0;
}
hr:before {
    content: '';
    background-color: rgba(0,0,0,0.42);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
hr:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: rgba(0,0,0,0.42);

    padding: 0 .5em;
    line-height: 1.5em;
    color: rgba(0,0,0,0.42);
    background-color: white;
  }

</style>