<template>
  <div class="main">
		<div class="task-header">
			<v-btn-toggle v-model="selectedFilter">
				<v-btn
					v-for="(filter,idx) in filters"
					:key="filter.text"
					@click="selectedFilter = idx"
					color="amber darken-3"
					class="white--text"
					small
				>
					{{ filter.text }}
				</v-btn>
			</v-btn-toggle>
			<v-dialog
				v-model="createDialog"
				width="500"
				persistent
				fullscreen
			>
				<template v-slot:activator="{ on }">
					<v-btn
						color="amber darken-3"
						class="white--text"
						small
						v-on="on"
						@click="clearNewTask"
					>
						CREATE
					</v-btn>
				</template>

				<v-card>
					<v-card-title
						class="headline green darken-3 white--text"
						primary-title
					>
						New Todo
					</v-card-title>

					<v-card-text>
						<v-form>
							<v-textarea
								name="task-title"
								label="title"
								v-model="newTask.title"
								:rules="[rules.required]"
								prepend-icon="short_text"
								box
								auto-grow
								rows="1"
								color="green darken3"
							>
							</v-textarea>
							<v-menu
								v-model="newTaskPicker"
								:close-on-content-click="false"
								:nudge-right="40"
								lazy
								transition="scale-transition"
								offset-y
								full-width
								min-width="290px"
							>
								<v-text-field
									slot="activator"
									v-model="newTask.deadline"
									label="deadline"
									prepend-icon="event"
									color="green darken3"
									readonly
									clearable
								>
								</v-text-field>
								<v-date-picker
									v-model="newTask.deadline"
									no-title
									scrollable
									color="green darken3"
									header-color="green darken3"
									@input="newTaskPicker = false"
								>
								</v-date-picker>
							</v-menu>
						</v-form>
					</v-card-text>

					<v-divider></v-divider>

					<v-card-actions>
						<v-btn
							color="amber darken-3"
							class="white--text"
							small
							@click="createDialog = false; newTaskErrors = []"
						>
							CANCEL
						</v-btn>
						<v-spacer></v-spacer>
						<v-btn
							color="amber darken-3"
							class="white--text"
							small
							@click="createNewTask"
						>
							CREATE
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</div>
    <div class="tasks">
			<div
				class="task"
				v-for="task in filteredTasks"
				:key="task.id"
				:item="task"
			>
				<div class="task-upper">
					<div class="task-name">
						{{ task.title }}
					</div>
					<div class="right">
						<v-btn
							dark
							small
							color="amber darken-3"
							v-if="!task.completed"
							@click="completeTask(task)"
						>
							<v-icon dark>done</v-icon>
							<v-spacer></v-spacer>
							COMPLETE
						</v-btn>
					</div>
				</div>
				<div class="task-lower">
					<div
						class="task-deadline"
						v-if="task.deadline !== null"
						:class="{ 'task-deadline-expired': isTaskExpired(task) }"
					>
						deadline：<span>{{ task.deadline | toDate }}</span>
					</div>
					<div class="task-actions right">
						<v-btn
							fab
							dark
							small
							color="amber darken-3"
							@click="deleteTask(task)"
						>
							<v-icon
								dark
							>delete</v-icon>
						</v-btn>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import moment from 'moment'
import firebase from 'firebase'

export default {
  data: function() {
    return {
			user: {},
      tasks: [],
			selectedFilter: 0,
			filters: [
				{ text: 'all', func: (task) => this.isTaskIncomplete(task) },
				{ text: 'expired', func: (task) => this.isTaskExpired(task) },
				{ text: 'today', func: (task) => this.beTaskGoingToExpireToday(task) },
				{ text: '1week', func: (task) => this.beTaskGoingToExpireIn1Week(task) },
				{ text: 'completed', func: (task) => this.isTaskCompleted(task) },
			],
			createDialog: false,
			newTask: {
				title: '',
				deadline: new Date().toISOString().substr(0, 10)
			},
			newTaskPicker: false,
			rules: {
				required: value => !!value || 'Required.'
      },
    }
	},
  created() {
    firebase.auth().onAuthStateChanged(user => {
			this.user = user ? user : {};
			if (user) this.listen();
		});
  },
	filters: {
		toDate: function(date) { return moment(date).format('YYYY/MM/DD'); },
	},
	computed: {
		filteredTasks: function() {
			return this.tasks.filter((task) => this.filters[this.selectedFilter].func(task));
		}
	},
	methods: {
		listen: function() {
			const self = this;
			var query = firebase.firestore().collection('users').doc(this.user.uid).collection('todos');
			query.onSnapshot(function(snapshot) {
				snapshot.docChanges().forEach(function(change) {
					if (change.type === 'added') {
						self.tasks.push(Object.assign({ id: change.doc.id }, change.doc.data()));
					} else {
						var targetTaskIndex = self.tasks.findIndex((task) => task.id === change.doc.id);
						if (change.type === 'modified') {
							self.tasks[targetTaskIndex] = Object.assign({ id: change.doc.id }, change.doc.data());
						} else if (change.type === 'removed') {
							self.tasks.splice(targetTaskIndex, 1);
						}
					}
					self.tasks.sort(function(a,b){
							if(a.deadline < b.deadline) return -1;
							if(a.deadline > b.deadline) return 1;
							return 0;
					});
				});
			});
		},
		isTaskIncomplete: function(task) {
			return !task.completed;
		},
		beTaskGoingToExpireToday: function(task) {
			if (this.isTaskCompleted(task)) return false;

			return task.deadline === moment().format('YYYY-MM-DD');
		},
		beTaskGoingToExpireIn1Week: function(task) {
			if (this.isTaskCompleted(task) || this.isTaskExpired(task) || this.beTaskGoingToExpireToday(task)) return false;

			return task.deadline <= moment().add(7, 'd').format('YYYY-MM-DD');
		},
		isTaskCompleted: function(task) {
			return task.completed;
		},
		isTaskExpired: function(task) {
			if (this.isTaskCompleted(task) || task.deadline === null) return false;

			return task.deadline < moment().format('YYYY-MM-DD');
		},
		clearNewTask: function() {
			this.newTask.title = '';
			this.newTask.deadline = new Date().toISOString().substr(0, 10);
		},
		createNewTask: function() {
			if (!this.newTask.title.trim()) return;

			const self = this;
			firebase
				.firestore()
				.collection('users')
				.doc(this.user.uid)
				.collection('todos')
				.add({
					title: this.newTask.title,
					deadline: this.newTask.deadline,
					completed: false
				})
				.then(function() {
					self.createDialog = false;
				})
				.catch(function(error) {
					alert(error);
				});
		},
		completeTask: function(task) {
			firebase
				.firestore()
				.collection('users')
				.doc(this.user.uid)
				.collection('todos')
				.doc(task.id)
				.set({
					title: task.title,
					deadline: task.deadline,
					completed: true
				});
		},
		deleteTask: function(task) {
			firebase
				.firestore()
				.collection('users')
				.doc(this.user.uid)
				.collection('todos')
				.doc(task.id)
				.delete();
		}
	}
}
</script>

<style scoped>
.task-header {
	padding: 0 1rem 0 1rem;
}

.tasks {
	display: flex;
	flex-direction: column;
	padding: 0 1rem 0 1rem;
	margin-top:0.5rem;
}

.task {
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	border: 1px solid #6db148;
	cursor: pointer;
	box-shadow: 2px 2px 4px #6db148;
	margin-bottom: 1rem;
}

.task-upper {
	display: flex;
	flex-flow: row;
	align-items: baseline;
	padding-bottom: 0.3rem;
	border-bottom: 1px dotted #6db148;
}

.task-lower {
	display: flex;
	flex-flow: row;
	align-items: baseline;
	padding-top: 0.3rem;
}
.task-deadline-expired {
	color: red;
}

.task-actions {
	visibility: hidden;
}
.task:hover .task-actions {
	visibility: visible;
}
</style>
